<%- include("../../partials/header")%>
<br><br><br><br>
<div class="container">
	<div class="jumbotron">
		<table class="table table-bordered">
		  <thead>
			<tr>
			  <th scope="col">Month</th>
			  <th scope="col">Year</th>
			  <th scope="col">User</th>
			  <th scope="col">Name</th>
			  <th scope="col">Code</th>
				 <th scope="col">id</th>
			<% if(currentUser) { %>
			  <th scope="col">Status</th>
			<% } %>
			</tr>
		  </thead>
		  <tbody>
			<% var a=0 %>
			<% problems.forEach(function(problem){ %>
				<tr>
				  
				  <th scope="row" class="demo<%=a%>"><%= problem.month %></th>
				  <td class="demo<%=a%>"><%= problem.year %></td>
				  <td class="demo<%=a%>"><a href="<%=problem.url%>"><%=problem.name%></a></td>
				  <td class="demo<%=a%>"><a href="<%=problem.url%>"><%=problem.code%></a></td>
				<% if(currentUser) { %>
				  <% var solved=currentUser.solved %>
				  <td class="demo<%=a%>"><%= currentUser.solved %></td>
				  <td>
					  <form action="/challenge/div2prob1" method="POST">
						  <input name="id" value="<%= problem._id %>" style="display:none">
					  	<button class="btn btn-success" id="done<%=a%>">Done</button>
					  </form>
					  <!-- <button onclick="myFunction(<%=a%>)" class="btn btn-danger" id="undone<%=a%>" style="display:none;">Undone</button> -->
				  </td>
				<% } %>
				</tr>
			  <% a=a+1 %>
			<% }); %>
		  </tbody>
		</table>
	</div>
</div>
<script>
function myFunction(a) {
    var i;
	// console.log("demo"+a);
	for(i=0;i<4;++i)
  		document.getElementsByClassName("demo"+a)[i].style.backgroundColor = "Green";
	var x = document.getElementById("done"+a)
	var y = document.getElementById("undone"+a);
	if(x.style.display=="none") {
		y.style.display = "none";
		x.style.display = "block";
		for(i=0;i<4;++i)
		document.getElementsByClassName("demo"+a)[i].style.backgroundColor = "White";
	} else {
		y.style.display = "block";
		x.style.display = "none";
	}
}
</script>

<%- include("../../partials/footer")%>